a
	text-decoration: none
	color: currentColor
	&:active, &:visited
		text-decoration: none
		color: currentColor
button:focus, input:focus, textarea:focus
	outline: none
*
	font-family: $fontStyle
	color: rgb(44, 62, 80)
	&.ng-hide-add, &.ng-hide-remove
		//transition: $transition
		&.ng-hide-remove
		&.ng-hide-add
ui-view
	&.ng-enter, &.ng-leave
		position: absolute
		left: 0
		right: 0
		-webkit-transition: $transition
		-moz-transition: $transition
		-o-transition: $transition
		transition: $transition
	&.ng-enter
		opacity: 0
		//-webkit-animation: viewopen 1100ms linear both
		//animation: viewopen 1100ms linear both
	&.ng-enter-active
		opacity: 1
	&.ng-leave
		opacity: 1
		//-webkit-animation: viewopen 1100ms linear both
		//animation: viewopen 1100ms linear both
	&.ng-leave-active
		opacity: 0
.divider
	background-color: rgb(238, 238, 238)
	height: 1px
	width: 100%
	margin-bottom: 8px
	margin-top: 12px
i, b
	color: currentColor
h1
	display: block
	font-size: 22.5px
	margin-bottom: 21px
h2
	color: rgb(52, 152, 219)
	display: block
	font-size: 19px
	font-weight: 500
	margin-bottom: 10.5px
	padding-bottom: 12px
	position: relative
	&.primary-agent
		color: rgb(243, 156, 18)
		font-weight: 700
		padding-left: 2%
h4.right
	color: rgb(44, 62, 80)
	font-size: 15px
	font-weight: bold
	margin-bottom: 5px
	position: relative
	display: inline-block
	padding-left: 15px
	padding-right: 10px
h4.top
	display: block
	color: rgb(44, 62, 80)
	font-size: 15px
	font-weight: bold
	position: relative
h5
	background-color: rgb(236, 240, 241)
	display: block
	box-sizing: border-box
	color: rgb(44, 62, 80)
	font-size: 14px
	margin-bottom: 10.5px
	padding: 10px
	width: 100%
	font-weight: 500
.data-wrapper
	position: relative
	width: 550px
	display: block
	padding-left: 5%
	@media only screen and (max-width: $medDevice)
		width: 95%
		padding-left: 1%
	h4.right
		width: 20%
	.input-wrapper
		position: relative
		width: 70%
		display: inline-block
		height: 70px
		@media only screen and (max-width: $medDevice)
			width: 75%
input
	padding: 8px 10px
	border: 2px solid rgb(220, 228, 236)
	border-radius: 4px
	box-shadow: none
	transition: $transition
	display: block
	width: 90%
	&:focus
		border-color: rgb(47, 61, 79)
label
	color: rgb(175, 187, 199)
	font-size: 12.75px
	margin-top: 5px
	display: block
	position: absolute
	left: 0
.optional
	color: rgb(175, 187, 199)
	font-size: 12.9px
	font-weight: bold
.radio-wrapper
	position: relative
	display: block
	width: 100%
md-radio-group
	display: inline-block
	&:focus
		outline: none
md-radio-button
	display: inline-block
	margin-right: 20px
	&:focus
		outline: none
	.md-on
		background-color: rgb(24, 188, 156)
	&.md-checked
		.md-off
			border-color: rgb(24, 188, 156)
md-checkbox.md-checked .md-ink-ripple
	color: rgb(24, 188, 156)
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon
		background-color: rgb(24, 188, 156)
.addnew-data
	background-color: rgb(149, 165, 166)
	border-radius: 4px
	padding: 10px
	width: 150px
	cursor: pointer
	&:focus, &:hover
		outline: none
		background-color: rgb(126, 142, 143)
	div
		color: #ffffff
		font-size: 17px
		&:hover
			outline: none