.toggle-btn
	display: block
.content-wrapper
	width: 100vw
	height: 90vh
	position: relative
	display: inline-block
	@media only screen and (min-width: 1280px)
		width: 58vw
	.ui-view-wrapper
		width: 80%
		height: 100%
		display: block
		background-color: whitesmoke
		margin: 0 auto
		position: relative