.toggle-btn
	display: block
	visibility: visible
	@media only screen and (min-width: $medDevice)
		visibility: hidden
.content-wrapper
	width: 65vw
	height: 90vh
	position: relative
	display: inline-block
	padding-left: 2%
	@media only screen and (max-width: $medDevice)
		width: 100vw
	.ui-view-wrapper
		width: 95%
		height: auto
		display: block
		//background-color: whitesmoke
		margin: 0 auto
		position: relative