html,
body,
ul,
ol,
video,
div {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: currentColor; }
  a:active, a:visited {
    text-decoration: none;
    color: currentColor; }

button:focus, input:focus, textarea:focus {
  outline: none; }
