<div class="basic-trust-questionnaire">
	<h1>Living Trust Questionnaire</h1>
	<h4 class="right">Is this for an individual or a married couple?</h4>
	<md-radio-button>Individual</md-radio-button>
	<md-radio-button>Couple</md-radio-button>
	<h4 class="right">Name of Trust</h4>
	<input>
	<label>The Doe Family Trust or The Jane Doe Trust</label>
</div>
<divider></divider>
<div class="basic-husband-info">
	<h2>Husband's Information</h2>
	<h4 class="right">Full Name</h4>
	<input/>
	<label>John R. Doe</label>
	<h4 class="right">Date of Birth</h4>
	<input/>
	<label>7/20/1969</label>
	<h4 class="right">Phone</h4>
	<input>
	<label>312-555-1212</label>
	<h4>Email</h4>
	<input>
</div>
<divider></divider>
<div class="basic-wife-info">
	<h2>Wife's Information</h2>
	<h4 class="right">Full Name</h4>
	<input/>
	<label>John R. Doe</label>
	<h4 class="right">Date of Birth</h4>
	<input/>
	<label>7/20/1969</label>
	<h4 class="right">Phone</h4>
	<input>
	<label>312-555-1212</label>
	<h4>Email</h4>
	<input>
</div>
<divider></divider>
<div class="basic-home-address">
	<h2>Home Address</h2>
	<h4 class="right">Address</h4>
	<input>
	<h4 class="right">City</h4>
	<input>
	<h4 class="right">County</h4>
	<input>
</div>