<div class="beneficiaries">
	<form>
	<h2>Beneficiaries</h2>
	<h5>These are the people and/or organizations to which the assets are left. They may be children, grandchildren, other family members, friends, charities, organizations, etc.</h5>
	<br>
	<md-radio-group ng-model="beneficiaries.choice.split">
		<md-radio-button ng-click="splitChoice('equally')" value="equally">We would like to divide our assets equally between all of our children</md-radio-button>
		<br>
		<md-radio-button ng-click="splitChoice('percentage')" value="percentage">We would like to divide our assets between our children <i>and/or</i> another person(s) and/or organization(s) based on <i>percentages</i>
		</md-radio-button>
	</md-radio-group>
	<div class="beneficiaries-percentageChoice" ng-show="beneficiaries.percentageShow">
		<div class="child-percentage" ng-repeat="child in concatChildren">
			<p>{{child.name}}</p>
			<div class="child-percentage-inside">
				<!--<input type="number" ng-model="beneficiaries.childrenPercentage[child.name]">-->
				<input type="number" ng-model="child.percentage">
				<div class="child-percentage-inside-icon">%</div>
			</div>
		</div>
		<div class="beneficiaries-new">
			<div class="beneficiaries-repeater" ng-repeat="beneficiary in beneficiaries.beneficiaries">
				<div class="data-wrapper">
					<h4 class="top">Name of Person or Organization</h4>
					<div class="input-wrapper">
						<input ng-model="beneficiary.name">
					</div>
				</div>
				<div class="beneficiaries-new-inside">
					<h4 class="top">Percentage</h4>
					<input type="number" ng-model="beneficiary.percentage">
					<div class="beneficiaries-new-inside-icon">%</div>
				</div>
			</div>
			</div>
			<div ng-click="addnewBeneficiaries()" class="addnew-data" id="new-beneficaries">
				<div>+ add beneficiary</div>
			</div>
		</div>
	</div>
	<divider></divider>
	<h2>Ages for beneficiaries to receive their inheritance</h2>
	<h5>Prior to reaching the age(s) indicated below, the successor Trustee(s) will manage the money for the beneficiaries, and the money will be used for health, education, maintenance, support, etc.</h5>
	<br>
	<div class="choice-wrapper">
		<md-radio-group ng-model="beneficiaries.choice.age" class="choice-wrapper-radios">
			<md-radio-button ng-click="beneficiariesAgeChoice('none')" value="none">Just give it to them as soon as we are gone, no matter how old they are.</md-radio-button>
			<br>
			<md-radio-button ng-click="beneficiariesAgeChoice('one')" value="one">Distribution at one age
			</md-radio-button>
			<div class="choice-wrapper-inputs" ng-show="beneficiaries.oneShow">
				<input class="age-choice-one" placeholder="25" type="number" ng-model="beneficiaries.ageChoiceOne.first">
			</div>
			<br>
			<md-radio-button ng-click="beneficiariesAgeChoice('two')" value="two">Distribution at two ages
			</md-radio-button>
			<div class="choice-wrapper-inputs" ng-show="beneficiaries.twoShow">
				<h4 class="top">receive 50% at age:</h4>
				<input class="age-choice-one" placeholder="25" type="number" ng-model="beneficiaries.ageChoiceTwo.first">
				<h4 class="top">remaining balance at age:</h4>
				<input class="" placeholder="30" type="number" ng-model="beneficiaries.ageChoiceTwo.second">
			</div>
			<br>
			<md-radio-button ng-click="beneficiariesAgeChoice('three')" value="three">Distribution at three ages
			</md-radio-button>
			<div class="choice-wrapper-inputs" ng-show="beneficiaries.threeShow">
				<h4 class="top">receive 33% at age:</h4>
				<input class="age-choice-one" placeholder="25" type="number" ng-model="beneficiaries.ageChoiceThree.first">
				<h4 class="top">receive 33% at age:</h4>
				<input class="" placeholder="30" type="number" ng-model="beneficiaries.ageChoiceThree.second">
				<h4 class="top">remaining balance at age:</h4>
				<input class="" placeholder="35" type="number" ng-model="beneficiaries.ageChoiceThree.third">
			</div>
			<br>
		</md-radio-group>
	</div>
	<divider></divider>
	<div class="navigator">
		<ul>
			<a ui-sref="trustees"><li class="navigator-back-btn">← Back</li></a>
			<a ui-sref="special"><li class="navigator-forward-btn">Next →</li></a>
		</ul>
	</div>
	</form>
</div>