<div class="healthcare">
	<h2>Health Care Directive / Medical Power of Attorney</h2>
	<h5>This is who will manage your finances and make legal decisions for you if you are incapacitated, but still alive.</h5>
	1st Alternate Agent
	<input class="healthInput">
	<label>Jane R. Doe</label>
	<br>
	<p>2nd Alternate Agent optional</p>
	<input class="healthInput">
	<label>Jane R. Doe</label>
	<br>
	<br>
	<md-checkbox>Alternate Agents should act together as Co-Agents. </md-checkbox>

	<label>This means that they would be required to work together to make decisions.</label>
	<br>
	<br>
	<br>
	<divider></divider>
</div>