<div class="navbar">
	<div class="navbar-wrapper">
		<ul>
			<li><a ui-sref="basic">1 - Basic Info</a></li>
			<li><a ui-sref="children">2 - Children</a></li>
			<li><a ui-sref="trustees">3 - Trustees & Guardians</a></li>
			<li><a ui-sref="beneficiaries">4 - Beneficiaries</a></li>
			<li><a ui-sref="special">5 - Special Cases</a></li>
			<li><a ui-sref="power">6 - Power of Attorney</a></li>
			<li><a ui-sref="heathcare">7 - Healthcare Directive</a></li>
			<li><a ui-sref="property">8 - Property & Business</a></li>
			<li><a ui-sref="review">9 - Final Review</a></li>
		</ul>
	</div>
</div>