<div class="navbar">
	<div class="navbar-wrapper">
		<h1>Business Name</h1>
		<ul>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="basic">1 - Basic Info</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="children">2 - Children</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="trustees">3 - Trustees & Guardians</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="beneficiaries">4 - Beneficiaries</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="special">5 - Special Cases</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="power">6 - Power of Attorney</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="healthcare">7 - Healthcare Directive</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="openLeftMenu('close')" ui-sref="property">8 - Property & Business</a></li>
			<li ui-sref-active="navbar-active"><a id="active" ng-click="reviewInit()" ui-sref="review">9 - Final Review</a></li>
		</ul>
	</div>
</div>